<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.cyan-amber.min.css" />
    <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300" rel="stylesheet">
    <title>Sign in to the Laser Quest Console</title>
    <style>
      body, h1, h2, h3, h4, h5, h6, p, span {
        font-family: "Open Sans";
      }
      h2 {
        font-weight: 300;
      }
      .mdl-card {
        padding: 25px;
        background-color: #efefef;
      }
      .page {
        padding: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    </style>
  </head>
  <body>
    <div class="page" id="password-page">
      <div>
        <div class="title">
          <h2>Two-Step Verification</h2>
          <p>Enter the code from your authenticator app</p>
        </div>
        <div class="mdl-card mdl-shadow--2dp">
          <% if (delta === null) { %><p class="mdl-color-text--red-500">Oops, that code didn&#39;t work. Let&#39;s try this again.</p><% } else if (delta < 0) { %><p class="mdl-color-text--red-500">You entered that code too late. Let&#39;s try this again.</p><% } else if (delta > 0) { %><p class="mdl-color-text--red-500">This shouldn&#39;t be possible, but you entered that code too early. Check to see if your clock is correct and enter the new code.</p><% } %>
          <form action="mfa-challenge" method="post" spellcheck="false" id="mfa-form">
            <div class="mdl-textfield mdl-js-textfield">
              <input class="mdl-textfield__input" type="tel" id="code" name="code" autocomplete="off" maxlength="6" autofocus>
              <input type="hidden" name="mfatoken" value="<%= mfatoken %>"/>
              <label class="mdl-textfield__label" for="code">6 digit security code</label>
            </div>
            <input type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" value="Continue" id="continue" />
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
