body {
  color:white;
}

.demo-layout-transparent {
  background: url('https://uwaterloo.ca/english-language-institute/sites/ca.english-language-institute/files/uploads/images/lasertag.png') center / cover;
}

.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  display:flex;
  justify-content:center;
  align-items:center;
  /* This background is dark, so we set text to white. Use 87% black instead if
   your background is light. */
   color: white;
}

.mdl-layout__content {
  display:flex;
  flex-direction:column;
  align-items: center;
}
