body {
  font-family: "Lato", sans-serif;
  background-color: #EEEEEE;
}

.page {
  padding: 25px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

h1 {
  font-family: "Orbitron", sans-serif;
  font-size: 112px;
}

h2 {
  font-family: "Orbitron", sans-serif;
}

p {
  font-family: "Lato", sans-serif;
  font-size: 34px;
}

#page-1 {
  height: 75vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto;
}
